{% extends "./main.html" %}
    {% block titulo %}Personas {% endblock %}
    {% block content %}
    <h3 class="text-center">Personas</h3>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Altura</th>
            <th>Peso</th>
            <th></th>
            </thead>
            <tbody>
            {% for persona in personas %}
            <tr>
                <td>{{persona.dni|round|int}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.sexo}}</td>
                <td>{{persona.edad}}</td>
                <td>{{persona.altura}}</td>
                <td>{{persona.peso}}</td>
                <td><a href="/api/personas/{{persona.dni|round|int}}" >Ver</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<div class="row">
    <a class="btn btn-lg btn-primary center-block" href="agregar">Agregar Persona</a>
</div>
{% endblock %}